*{
    font-family: 'Courier New', Courier, monospace;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 720px;
    height: 100vh;
    
}

body{
    margin: 0;
}

input{
    padding: 0.5rem;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 800px;
    font-size: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    border-color: grey;
    border-style:solid;
    padding: 2em 4em;
}

.form-input{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-item{
    margin-bottom: 2rem;
}

.navbar{
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: beige;
    height: 4em;
    width: 100vw;
    font-size: 1.5rem;
    box-sizing: border-box;
    padding: 0em 1em;
}

.navbar-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-list li{
    display: inline;
    margin-right: 2rem;
}

.navbar-left{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}